:root {
  --primary-color: #3F51B5;
  --primary-color-active: #303F9F;
  --secondary-color: #F44336;
  --success-color: #4CAF50;
  --danger-color: #FF5722;
  --warning-color: #FF9800;
  --info-color: #2196F3;
  --light-color: #ECEFF1;
  --dark-color: #263238;
}


  
  /* Define color classes */
  .primary {
    color: var(--primary-color);
  }
  
  .secondary {
    color: var(--secondary-color);
  }
  
  .success {
    color: var(--success-color);
  }
  
  .danger {
    color: var(--danger-color);
  }
  
  .warning {
    color: var(--warning-color);
  }
  
  .info {
    color: var(--info-color);
  }
  
  .light {
    color: var(--light-color);
  }
  
  .dark {
    color: var(--dark-color);
  }
  