:root {
  --primary-color: #2b2d42;
  --primary-color-transluscent: #2b2d4275;
  --primary-color-active: #3e3f5a;
  --secondary-color: #4d5d74;
  --secondary-color-transluscent: #9ac2ff00;
  --success-color: #4CAF50;
  --danger-color: #42527da4;
  --warning-color: #FFC107;
  --info-color: #73c1b6;
  --light-color: #f1f1f1;
  --dark-color: #1d1f2a;
}
  
  .primary {
    color: var(--primary-color);
  }
  
  .secondary {
    color: var(--secondary-color);
  }
  
  .success {
    color: var(--success-color);
  }
  
  .danger {
    color: var(--danger-color);
  }
  
  .warning {
    color: var(--warning-color);
  }
  
  .info {
    color: var(--info-color);
  }
  
  .light {
    color: var(--light-color);
  }
  
  .dark {
    color: var(--dark-color);
  }
  