@import '../_colors.css';

.input-container {
  display: flex;
  flex-direction: column;
}

.input-field {
  background-color: var(--secondary-color-transluscent)
}

.input-label {
  margin-bottom: 0.25rem;
  font-size: 1rem;
  color: var(--light-color);
}

.input-field {
  font-size: 1rem;
  line-height: 1.5;
  background-clip: padding-box;
  border: 2px solid var(--dark-color);
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: var(--light-color)
}

.input-field:hover {
  border-color: var(--danger-color);
  background-color: var(--primary-color-active);
}

.input-field:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 0.2rem rgba(63, 81, 181, 0.25);
}

.input-field:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.input-field:disabled:hover {
  border-color: var(--dark-color);
}

.login-title {
  color: var(--light-color);
}